* {
    box-sizing: border-box;
  }
.lightb{
   background-color:  lightgreen;
   width:30%;
   height: 500px;
   margin: 1em;
   display: inline-block;

}
.lightgrey{
    background-color:  lightgray;
    width:22%;
    height: 50px;
    margin: 1em;
    display: inline-block;
 
 }
.lightg{
    background-color: lightblue;
    width: 95%;
    height: 250px;
    margin:1em;
    display: inline-block;
}

@media only screen and (min-width: 480px) {
   .lightb{
       width: 95%;
   }
   .lightg{
       width:30%;
   }
   .lightgrey{
       width: 22% ;
   }
  }

  @media only screen and (max-width: 480px) {
    .lightb{
        width: 80%;
    }
    .lightg{
        width:80%;
    }
    .lightgrey{
        width: 35% ;
    }
   }